/* INDEX CSS REACT RR_INVESTMENTS */

/* WHOLE PAGE SECTION */

html, body {
    font-family: Raleway;
}

/* END OF WHOLE PAGE SECTION */

/* FONT SECTION */

@font-face {
    font-family: Raleway-Light;
    src: url('../src/assets/fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('../src/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('../src/assets/fonts/Raleway-Bold.ttf');
}


/* Class for light font, can be used in every text tag. */
.font-raleway-light {
    font-family: Raleway-Light !important;
}

/* Class for regular font, can be used in every text tag. */
.font-raleway {
    font-family: Raleway !important;
}

/* Class for bold font, can be used in every text tag. */
.font-raleway-bold {
    font-family: Raleway-Bold !important;
}

/* END OF FONT SECTION */

/* HOME SECTION */

.home-title {
    font-size: 2.5rem;
}

@media only screen and (min-width: 769px) {
    #projects-section {
        background: url("./assets/images/projects_polygon.png");
        background-position: right center;
        background-attachment: fixed;
        background-size: contain, fixed;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 769px) {
    #projects-section {
        background: url("./assets/images/projects_polygon_small.png");
        background-position: right center;
        background-attachment: fixed;
        background-size: contain, fixed;
        background-repeat: no-repeat;
    }
}

.home-button-orange {
    background-color: #FF7F50 !important;
    color: white;
    font-size: 13px;
}

/* END OF HOME SECTION */

/* ABOUT US SECTION */

.about-section {
    /* TODO */
}

.about-font-small-responsive {
    font-size: 1.2rem;
}

.about-hr-orange-border {
    width: 210px;
    padding: 4px;
    background-color: #FF7F50;
}

.about-hr-orange-border-2 {
    width: 250px;
    padding: 2px;
    background-color: #FF7F50;
}

#about-carousel {
    box-shadow: none;
    margin: auto;
    width: 90%;
    border: 5px solid #FF7F50;
    padding: 5% 10%;
}

/* @Override carousel control */

.carousel-control-next {
    margin-right: -14%;
}

.carousel-control-prev {
    margin-left: -14%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 32px;
  color: #FF7F50;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 32px;
  color: #FF7F50;
}

/* END OF ABOUT SECTION */

/* CONTACT US SECTION */

.contact-button-orange {
    background-color: #FF7F50;
    color: white;
    border-radius: 1.5rem;
}

.contact-hr-orange {
    background-color: #FF7F50;
    padding: 1px;
    width: 100%;
    margin: 0;
}

.contact-icon {
    color: #FF7F50;
}

.divgap
{
    height: 60px;
    display: inline-block;
}

.nav-item a {
    color: #b6b6b6;
    transition: 500ms;
}
.nav-item:hover a{
    color: #FF7F50;
}
/* END OF CONTACT */

/* END OF INDEX CSS */