/* INDEX CSS REACT RR_INVESTMENTS */

/* WHOLE PAGE SECTION */

html, body {
    font-family: Raleway;
}

/* END OF WHOLE PAGE SECTION */

/* FONT SECTION */

@font-face {
    font-family: Raleway-Light;
    src: url('../src/assets/fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('../src/assets/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('../src/assets/fonts/Raleway-Bold.ttf');
}


/* Class for light font, can be used in every text tag. */
.font-raleway-light {
    font-family: Raleway-Light !important;
}

/* Class for regular font, can be used in every text tag. */
.font-raleway {
    font-family: Raleway !important;
}

/* Class for bold font, can be used in every text tag. */
.font-raleway-bold {
    font-family: Raleway-Bold !important;
}

/* ABOUT US SECTION */

.about-section {
    /* TODO */
}

.about-font-small-responsive {
    font-size: 1.2rem;
}

.about-hr-orange-border {
    width: 210px;
    padding: 4px;
    background-color: #FF7F50;
}

.about-hr-orange-border-2 {
    width: 250px;
    padding: 2px;
    background-color: #FF7F50;
}

#about-carousel {
    box-shadow: none;
    margin: auto;
    width: 90%;
    border: 5px solid #FF7F50;
    padding: 3% 7%;
}

/* @Override carousel control */

.carousel-control-next {
    margin-right: -5%;
}

.carousel-control-prev {
    margin-left: -5%;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}



/* END OF ABOUT SECTION */

/* END OF FONT SECTION */

/* END OF INDEX CSS */